{
  "key": "core.config_entries",
  "data": {
    "entries": [
      {
        "domain": "integration",
        "entry_id": "integration_1",
        "options": {
          "name": "VVB energy integrated",
          "source": "sensor.vvb_power",
          "method": "left",
          "unit_prefix": "k",
          "unit_time": "h",
          "round": 3,
          "max_sub_interval": {
            "hours": 0,
            "minutes": 5,
            "seconds": 0
          }
        }
      }
    ]
  }
}
